body {
  padding-top: 72px;

  &.menu-opened {
    overflow: hidden;
    main,
    footer {
      opacity: .7;
    }
    
  }
}

main {
  
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  padding: 0 24px;
  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
  @media screen and (min-width: 1110px) {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}